<div class="container mt-5">

<h2>Forgot Password</h2>

<div *ngIf="step === 1">

<label>Email</label>
<input type="email" [(ngModel)]="email" class="form-control">

<br>

<button class="btn btn-primary" (click)="sendOtp()">
Send OTP
</button>

</div>


<div *ngIf="step === 2">

<label>OTP</label>
<input type="text" [(ngModel)]="otp" class="form-control">

<br>

<label>New Password</label>
<input type="password" [(ngModel)]="password" class="form-control">

<br>

<label>Confirm Password</label>
<input type="password" [(ngModel)]="confirmPassword" class="form-control">

<br>

<button class="btn btn-success" (click)="resetPassword()">
Reset Password
</button>

</div>

</div>