<div class="dashboard" [ngClass]="currentTheme">

  <div class="container-main">

    <!-- HEADER -->
    <div class="header">
      <div>
        <h1>AI Resume Analyzer</h1>
        <p class="subtitle">
          Compare resumes with job descriptions intelligently
        </p>
      </div>

      <button class="theme-btn" (click)="toggleTheme()">
        {{ currentTheme === 'light' ? 'Dark Mode' : 'Light Mode' }}
      </button>
    </div>

    <!-- UPLOAD SECTION -->
    <div class="card-section">
      <div class="row g-5">

        <div class="col-md-6">
          <h5 class="section-title">Resume</h5>

          <input class="form-control input-clean mb-3"
                 placeholder="Resume Title"
                 [(ngModel)]="resumeTitle">

          <input class="form-control input-clean mb-3"
                 type="file"
                 (change)="onFileSelected($event)">

          <button class="btn btn-primary w-100"
                  (click)="uploadResume()">
            Upload Resume
          </button>
        </div>

        <div class="col-md-6">
          <h5 class="section-title">Job Description</h5>

          <input class="form-control input-clean mb-3"
                 placeholder="Job Title"
                 [(ngModel)]="jobTitle">

          <textarea class="form-control input-clean mb-3"
                    rows="6"
                    placeholder="Paste Job Description"
                    [(ngModel)]="jobText"></textarea>

          <button class="btn btn-success w-100"
                  (click)="uploadJob()">
            Upload Job
          </button>
        </div>

      </div>
    </div>

    <!-- SAVED RESUMES -->
    <div class="card-section">

      <h5 class="mt-3">Your Resumes</h5>

      <ul class="list-group mb-4">
        <li class="list-group-item d-flex justify-content-between"
            *ngFor="let r of resumes">

            {{ r.title }}

            <button class="btn btn-danger btn-sm"
                    (click)="deleteResume(r.id)">
                Delete
            </button>
        </li>
      </ul>


      <h5 class="mt-3">Your Job Descriptions</h5>

      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between"
            *ngFor="let j of jobs">

            {{ j.title }}

            <button class="btn btn-danger btn-sm"
                    (click)="deleteJob(j.id)">
                Delete
            </button>
        </li>
      </ul>

    </div>

    <!-- COMPARE SECTION -->
    <div class="card-section">
      <h5 class="section-title mb-4">Compare</h5>

      <div class="row g-3 align-items-end">
        <div class="col-md-5">
          <label>Resume</label>
          <select class="form-select input-clean"
                  [(ngModel)]="selectedResumeId">
            <option value="">Select Resume</option>
            <option *ngFor="let r of resumes" [value]="r.id">
              {{ r.title }}
            </option>
          </select>
        </div>

        <div class="col-md-5">
          <label>Job</label>
          <select class="form-select input-clean"
                  [(ngModel)]="selectedJobId">
            <option value="">Select Job</option>
            <option *ngFor="let j of jobs" [value]="j.id">
              {{ j.title }}
            </option>
          </select>
        </div>

        <div class="col-md-2 d-grid">
          <button class="btn btn-dark w-100"
                  (click)="compare()"
                  [disabled]="loading">

            <span *ngIf="!loading">Compare</span>

            <span *ngIf="loading">
              <span class="spinner-border spinner-border-sm"></span>
              Analyzing...
            </span>

          </button>
        </div>
      </div>
    </div>

    <!-- RESULTS -->
    <div *ngIf="result" class="card-section">

      <!-- OVERALL SCORE -->
      <div class="score-box">
        <div class="score-number">
          {{ result.overall_match_percentage }}%
        </div>
        <div class="score-label">Overall Match</div>
      </div>

      <hr>

      <!-- CATEGORY BREAKDOWN -->
      <div class="row g-4 mt-2">

        <div class="col-md-6"
             *ngFor="let category of result.category_match | keyvalue">

          <div class="category-card">

            <h6 class="text-capitalize">
              {{ category.key.replace('_',' ') }}
            </h6>

            <p class="percentage">
              {{ category.value.percentage }}% Match
            </p>

            <div class="skill-group">
              <strong>Matched</strong>
              <div class="chip success"
                   *ngFor="let skill of category.value.matched">
                {{ skill }}
              </div>
            </div>

            <div class="skill-group mt-2">
              <strong>Missing</strong>
              <div class="chip danger"
                   *ngFor="let skill of category.value.missing">
                {{ skill }}
              </div>
            </div>

          </div>
        </div>

      </div>

      <hr class="my-4">

      <!-- INTERVIEW QUESTIONS -->
      <div>
        <h5 class="section-title">Interview Questions</h5>

        <ul class="question-list">
          <li *ngFor="let q of result.interview_questions">
            {{ q }}
          </li>
        </ul>
      </div>

    </div>

  </div>
</div>